@charset "utf-8";
// ===================================================================
//  File:	pages/_attention.scss
//  Date:	2017-12-31(UTC+9)
//  Note:	
// ===================================================================
.block-attention {
	.block__body {
		text-align: left;
		color: $base_corporate_color;
		.unit {
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				max-width: $base_content_width;
				width: 100%;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}


//	.attention-body
// ----------------------------------------
.attention-body {
	//	.attention-body__title
	// ----------------------------------------
	@include element(title) {
		position: relative;
		@include title-font-small;
		font-weight: normal;
		margin-bottom: .8em;
		&:before {
			position: relative;
			display: inline-block;
			content: '';
			width: 1em;
			height: 1em;
			margin-right: .6em;
			background: $base_corporate_color;
		}
		@include modifier(sub) {
			position: relative;
			@include title-font-small;
			font-weight: normal;
			&:before {
				content: '【';
			}
			&:after {
				content: '】';
			}
			* + & {
				margin-top: 1em;
			}
		}
	}
	* + p {
		margin-top: 1em;
	}
	.attention-body__title--sub + p {
		margin-top: 0;
	}
	p + p {
		margin-top: .4em;
	}
}


//	.attention-list
// ----------------------------------------
.attention-list {
	p + & {
		margin-top: 1em;
	}
	//	.attention-list__item
	// ----------------------------------------
	@include element(item) {
		list-style: disc inside;
		margin-left: 1em;
		text-indent: -1em;
		& + & {
			margin-top: .4em;
		}
	}
}


//	.attention-dl
// ----------------------------------------
.attention-dl {
	& + & {
		margin-top: 1em;
	}
	//	.attention-dl__title
	// ----------------------------------------
	@include element(title) {
		position: relative;
		&:before, &:after {
			content: '●';
		}
		&:before {
			padding-right: .6em;
		}
		&:after {
			padding-left: .6em;
		}
	}
	//	.attention-dl__body
	// ----------------------------------------
	@include element(body) {
	}
}

