@charset "utf-8";
// ===================================================================
//  File:	pages/_event.scss
//  Date:	2017-12-31(UTC+9)
//  Note:	
// ===================================================================
.block-event {
	.block__body {
		background-image: url(../images/sp/bg_event-top.png), url(../images/sp/bg_event-bottom.png);
		background-repeat: no-repeat, no-repeat;
		background-position: right top, left bottom;
		background-size: 50%;
		background-attachment: fixed;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			min-height: 100%;
			background-image: url(../images/bg_event-top.png), url(../images/bg_event-bottom.png);
			background-position: right 4% top, left 4% bottom;
			background-size: auto;
		}

	}
}
.event-info {
	text-align: center;
	//	.event-info__title
	// ----------------------------------------
	@include element(title) {
		@include title-font;
		font-weight: normal;
	}
	//	.event-info__body
	// ----------------------------------------
	@include element(body) {
		@include body-font;
	}
	& + .google-map {
		margin-top: $base_padding*5.6;
	}
}