@charset "utf-8";
// ===================================================================
//  File:	pages/_map.scss
//  Date:	2017-12-04(UTC+9)
//  Note:	
// ===================================================================
.information-unit {
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		width: calc((100% - 60px) /2);
		float: left;
		&:nth-child(2n) {
			float: right;
		}
	}
	@include element(block) {
		margin-top: $base_padding*4;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: $base_padding*6;
		}
	}
	@include element(title) {
		text-align: center;
		@include fontsize(18);
		font-weight: bold;
		color: $base_corporate_color;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(24);
		}
	}
	@include element(body) {
		margin-top: $base_padding*2;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: $base_padding*4;
		}
	}
}