@charset "utf-8";
// ===================================================================
//  File:	pages/_news.scss
//  Date:	2018-02-12(UTC+9)
//  Note:	
// ===================================================================
.xNews {
	.contents {
		padding: 30px 0;
		background: url(#{$image_path}sp/bg_news.jpg) 0 0 no-repeat;
		background-attachment: fixed;
		background-size: 200% auto;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			background-color: #00f;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			padding: 80px 0 88px;
			background-image: url(#{$image_path}bg_news.jpg);
			background-size: cover;
		}
	}
}


//	.news-article
// ----------------------------------------
.news-article {
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		max-width: 860px;
		margin: auto;
	}
	//	.news-article__head
	// ----------------------------------------
	@include element(head) {
		position: relative;
		width: 47.5vw;
		height: 16.25vw;
		margin: 0 auto 4.6875vw;
		background-position: 0 0;
		background-repeat: no-repeat;
		background: url(#{$image_path}sp/title_news.png) 0 0 no-repeat;
		background-size: cover;
		@include text-indent;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 227px;
			height: 80px;
			margin: 0 auto 30px;
			background-image: url(#{$image_path}title_news.png);
		}
	}
	//	.news-article__main
	// ----------------------------------------
	@include element(main) {
		padding: 24px 10px 56px;
		background: url(#{$image_path}bg_mainImage.png) 0 0 repeat;
		border-top: 4px solid $base_border_color;
		border-bottom: 4px solid $base_border_color;
		box-shadow: 2px 2px 6px rgba(#000, .3), -2px -2px 6px rgba(#000, .3);
		overflow: hidden;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			padding: 24px 150px 32px;
		}
		&:before {
			position: relative;
			display: block;
			width: 74.6875vw;
			height: 12.5vw;
			content: '';
			margin: 0 auto 6.25vw;
			background: url(#{$image_path}sp/image_news-emblem.png) 0 0 no-repeat;
			background-size: cover;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				content: url(#{$image_path}image_news-emblem.png);
				width: 320px;
				height: 45px;
				margin: 0 auto 20px;
				background: none;
			}
		}
		//	.news-article__main__title
		// ----------------------------------------
		@include element(title) {
			position: relative;
			margin: 0 0 28px;
			text-align: center;
			@include fontsize(18);
			font-weight: bold;
			color: #895f22;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				margin: 0 0 32px;
				@include fontsize(24);
			}
			&:after {
				position: relative;
				display: block;
				width: 11.5625vw;
				height: 2.1875vw;
				content: '';
				margin: 12px auto 0;
				background: url(#{$image_path}sp/image_divider.png) 0 0 no-repeat;
				background-size: cover;
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					width: 74px;
					height: 14px;
					margin: 10px auto 0;
				}
			}
		}
		//	.news-article__main__body
		// ----------------------------------------
		@include element(body) {
			@include fontsize(14);
			h4 {
				font-size: inherit;
			}
			* + * {
				margin-top: 1em;
			}
			a {
				color: #895f22;
			}
		}
	}
}

