@charset "utf-8";
// ===================================================================
//  File:	pages/_pages.scss
//  Date:	2017-10-18(UTC+9)
//  Note:	
// ===================================================================
.block {
	line-height: 1.8;
	@include fontsize(16);
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		.siteIndex & {
			text-align: center;
		}
	}
	@include element(title) {
		margin-bottom: 1.5em;
		text-align: center;
		@include fontsize(30);
		font-family: $base_font_family_noto;
		font-weight: normal;
		@include modifier(main) {
			display: block;
		}
		@include modifier(sub) {
			display: block;
			@include fontsize(14);
			font-weight: normal;
			color: $base_text_color;
			font-family: $base_font_family;
		}
		* + & {
			padding: $base_padding*6 0 0;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				padding: $base_padding*8 0 0;
			}
		}
	}
	@include element(lead) {
		text-align: center;
		@include fontsize(20);
		font-family: $base_font_family_noto;
		font-weight: normal;
		color: $base_corporate_color;
	}
	@include element(body) {
		& + & {
			margin-top: $base_padding*4;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				margin-top: $base_padding*6;
			}
		}
	}
	@include element(catch) {
		@include fontsize(24);
		font-family: $base_font_family_noto;
		font-weight: normal;
		color: #093;
		@include modifier(main) {
			display: block;
		}
		@include modifier(sub) {
			display: block;
			@include fontsize(18);
			font-weight: normal;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(36);
		}
		& + * {
			margin-top: $base_padding*3;
		}
	}
}


// -------------------------------------------------------------------
// map.html
// -------------------------------------------------------------------
.information-unit {
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		width: calc((100% - 60px) /2);
		float: left;
		&:nth-child(2n) {
			float: right;
		}
	}
	@include element(block) {
		margin-top: $base_padding*4;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: $base_padding*6;
		}
	}
	@include element(title) {
		text-align: center;
		@include fontsize(18);
		font-weight: bold;
		color: $base_corporate_color;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(24);
		}
	}
	@include element(body) {
		margin-top: $base_padding*2;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: $base_padding*4;
		}
	}
}