@charset "utf-8";
// ===================================================================
//  File:	pages/_room.scss
//  Date:	2017-12-04(UTC+9)
//  Note:	
// ===================================================================
// ----------------------------------------
//	.room-detail
// ----------------------------------------
.room-detail {
	* + & {
		margin-top: $base_padding*6;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			margin-top: $base_padding*10;
		}
	}
	#tabs-list {
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			box-sizing: border-box;
			@include clearfix;
		}
		li {
			color: $base_white_color;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				box-sizing: border-box;
				width: 15%;
			//	height: 46px;
				margin-right: 2%;
				float: left;
				border-radius: 6px 6px 0 0;
				&:nth-child(7) {
					margin-right: 0;
				}
			}
		}
	}
	.panel-label {
		background: $base_border_color;
		font-family: $base_font_family_noto;
		border-color: #999;
		span {
			padding: 0 .4em;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			padding: .3em 0;
			@include fontsize(14);
			line-height: 1.4;
			color: $base_white_color;
			border-radius: 6px 6px 0 0;
			&:hover {
				background: $base_corporate_color;
			}
		}
	}
	.panel-contents {
	}
}


// ----------------------------------------
//	.room-anchor
// ----------------------------------------
.room-anchor {
	margin-bottom: $base_padding*3;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		@include clearfix;
		margin-bottom: $base_padding*5;
	}
	//	.room-anchor__item
	// ----------------------------------------
	@include element(item) {
		display: block;
		text-align: center;
		&:nth-child(2n) {
			margin-top: 1.6em;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 48%;
			float: left;
			text-align: center;
			&:nth-child(2n) {
				float: right;
				margin-top: 0;
			}
		}
		a {
			position: relative;
			display: block;
			padding: .8em 0;
			background: #959796;
			color: $base_white_color;
			font-weight: bold;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				@include fontsize(22);
			}
			&:before, &:after {
				@include transition(all linear .3s .1s);
			}
			&:before {
				position: absolute;
				width: 24px;
				height: 24px;
				border-radius: 12px;
				content: '';
				background: #666;
				left: 12px;
				top: 24%;				
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					width: 36px;
					height: 36px;
					border-radius: 18px;
				}
			}
			&:after {
				position: absolute;
				top: 30%;
				left: 17px;
				width: 10px;
				height: 10px;
				content: '';
				border-top: 3px solid #959796;
				border-right: 3px solid #959796;
				vertical-align: middle;
				transform: rotate(135deg);
				//	[media queries PC-tablet]
				// ----------------------------------------
				@include media(pc-tb) {
					left: 20px;
					width: 16px;
					height: 16px;
				}
			}
			&:hover {
				opacity: .8;
				&:before {
					top: 28%;
				}
				&:after {
					top: 34%
				}
			}
		}
	}
}


// ----------------------------------------
//	.room-contents
// ----------------------------------------
.room-contents {
	& + & {
		margin-top: 60px;
	}
	@include element(head) {
		margin-bottom: 1em;
		padding-left: .6em;
		border-left: .3em solid #699;
		color: #999;
		@include fontsize(18);
		font-family: $base_font_family_noto;
		font-weight: normal;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(36);
		}
	}
	//	.room-contents__body
	// ----------------------------------------
	@include element(body) {
		@include clearfix;
	}
	//	.room-contents__image
	// ----------------------------------------
	@include element(image) {
		box-sizing: border-box;
		width: 40%;
		margin: 0 5% 0 0;
		max-width: 502px;
		float: left;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 55%;
		}
		img {
			border: 1px solid $base_border_color;
		}
		//	.room-contents__image--note
		// ----------------------------------------
		@include modifier(note) {
			margin-top: 1em;
			color: #666;
			@include fontsize(13);
		}
	}
	//	.room-contents__main
	// ----------------------------------------
	@include element(main) {
		float: left;
		width: 55%;
		color: #999;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			width: 40%;
		}
		@include modifier(note) {
			margin-top: 1em;
			@include fontsize(13);
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				@include fontsize(12);
			}
		}
	}
	//	.room-contents__title
	// ----------------------------------------
	@include element(title) {
		display: block;
		margin-bottom: 1em;
		padding: .4em 0;
		border: 1px solid $base_border_color;
		text-align: center;
		font-weight: normal;
		@include fontsize(20);
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(40);
		}
	}
	//	.room-contents__info
	// ----------------------------------------
	@include element(info) {
		dt {
			@include fontsize(36);
			font-weight: bold;
			line-height: 1.2;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				@include fontsize(90);
			}
		}
		dd {
			font-weight: bold;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				@include fontsize(18);
			}
		}
	}
	//	.room-contents__birdcage
	// ----------------------------------------
	@include element(birdcage) {
		@include fontsize(13);
		color: #999;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(12);	
		}
	}
}