@charset "utf-8";
// ===================================================================
//  File:	pages/_top.scss
//  Date:	2017-10-25(UTC+9)
//  Note:	
// ===================================================================
// -------------------------------------------------------------------
// .mainVisual
// -------------------------------------------------------------------
#data-mainVisual {
	overflow: hidden;
	position:relative;
}
.mainVisual {
	position: relative;
	@include element(wrapper) {
		background: $base_white_color;
		width: 100%;
		//height: 490px;
		overflow: hidden;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	@include element(item) {
		float: left;
		position: relative;
	}
}


// -------------------------------------------------------------------
// .mainCopy
// -------------------------------------------------------------------
.mainCopy {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		position: static;
	}
	.container {
		position: relative;
		box-sizing: border-box;
		padding: 2em;
		height: 490px;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			height: auto;
			padding: 10px;
		}
	}
	@include element(title) {
		@include fontsize(64);
//		font-family: $base_font_family_noto;
		color: $base_white_color;
		text-shadow: 0 0 5px $base_text_color;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include fontsize(24);
			color: $base_corporate_color;
			text-shadow: none;
		}
	}
	@include element(body) {
		@include fontsize(16);
		font-weight: bold;
		color: $base_white_color;
		text-shadow: 0px 0px 5px #000;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			color: $base_text_color;
			font-weight: normal;
			text-shadow: none;
		}
	}
	@include modifier(main) {
		display: block;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(32);
		}
	}
	@include element(foot) {
		box-sizing:border-box;
		width: 100%;
		position: absolute;
		bottom: 3.2em;
		@include fontsize(28);
		color: $base_white_color;
		font-weight: bold;
		text-align: center;
		text-shadow: 0 0 5px $base_text_color;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			width: auto;
			margin: 1em 0 0;
			position: static;
			margin-top: 1em;
			@include fontsize(18);
			color: $base_text_color;
			text-shadow: none;
			font-weight: normal;
		}
	}
}


// -------------------------------------------------------------------
// .slider
// -------------------------------------------------------------------
.slider {
	@include element(prev) {
		background-color: rgba(252, 248, 238, .8);
		zoom:1;
		display: block;
		height: 490px;
		width: 50%;
		top: 0;
		left: -500px;/* スライドする画像の横半分の値 */
		position: absolute;
		z-index: 100;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			display: none;
		}
		img {
			right:-36px;
			top:210px;
			position:absolute;
		}
		&:hover {
			background-color: rgba(252, 248, 238, .6);
			zoom: 1;
		}
	}
	@include element(next) {
		background-color: rgba(252, 248, 238, .8);
		zoom:1;
		display: block;
		height: 490px;
		width: 50%;
		top: 0;
		right: -500px;/* スライドする画像の横半分の値 */
		position: absolute;
		z-index: 100;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			display: none;
		}
		img {
			left:-36px;
			top:210px;
			position:absolute;
		}
		&:hover {
			background-color: rgba(252, 248, 238, .6);
			zoom: 1;
		}
	}
	@include element(pager) {
		text-align:center;
		padding:24px;
		background-color: $bg_block_concept;
		a {
			background-color: $base_border_color;
			border-radius:10px;
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 18px 0 0;
			&:hover {
				background: $base_corporate_color;
			}
			&.selected {
				background: $base_corporate_color;
			}
			span {
				display: none;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}


// -------------------------------------------------------------------
// .block-concept
// -------------------------------------------------------------------
.top-lead {
	text-align: center;
}
.block-concept {
	background-color: $bg_block_concept;
}


// -------------------------------------------------------------------
// .block-features
// -------------------------------------------------------------------
.block-features {
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.feature-unit {
	& + & {
		margin-top: $base_padding*6;
	}
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		@include clearfix;
	}
	@include element(body) {
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include clearfix;
			box-sizing: border-box;
			width: 50%;
			margin: 0 0 0 40px;
			padding: 0 10px;
			float: right;
			text-align: left;
			.is--reverse & {
				float: left;
				margin: 0 40px 0 0;
			}
			@include modifier(container) {
				max-width: 480px;
				.is--reverse & {
					float: right;
				}
			}
		}
	}
	@include element(image) {
		box-sizing: border-box;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include clearfix;
			width: calc(50% - 40px);
			float: left;
			.is--reverse & {
				float: right;
			}
			figure {
				max-width: 480px;
				float: right;
				.is--reverse & {
					float: left;
				}
			}
			img {
				width: auto;
			}
		}
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			margin-top: $base_padding*2;
		}
	}
	@include element(title) {
		@extend .block__catch;
		font-family: $base_font_family_m1;
		@include fontsize(32);
		line-height: 1;
		& + * {
			margin-top: 20px;
		}
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(60);
		}
		@include modifier(sub) {
			@include fontsize(14);
			font-weight: normal;
			color: $base_text_color;
		}
	}
	&.is--residence {
		.feature-unit__image {
			background: $residence_color;
		}
		.feature-unit__title {
			color: $residence_color;
		}
	}	&.is--shop {
		.feature-unit__image {
			background: $shop_color;
		}
		.feature-unit__title {
			color: $shop_color;
		}
	}
	&.is--childcare {
		.feature-unit__image {
			background: $childcare_color;
		}
		.feature-unit__title {
			color: $childcare_color;
		}
	}
	&.is--welfare {
		.feature-unit__image {
			background: $welfare_color;
		}
		.feature-unit__title {
			color: $welfare_color;
		}
	}
	&.is--community {
		.feature-unit__image {
			background: $community_color;
		}
		.feature-unit__title {
			color: $community_color;
		}
	}
}


// -------------------------------------------------------------------
// .block-access
// -------------------------------------------------------------------
.block-access {
	background: $bg_block_access;
	@include element(image) {
		* + & {
			padding: $base_padding*6 0 0;
			//	[media queries PC-tablet]
			// ----------------------------------------
			@include media(pc-tb) {
				padding: $base_padding*8 0 0;
			}
		}
	}
	@include element(body) {
		.block-access__image + & {
			margin-top: $base_padding*4;
		}
		@include clearfix;
	}
}
.access-unit {
	width: 100%;
	& + & {
		margin-top: $base_padding*5;
	}
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		width: 32%;
		float: left;
		&:nth-child(n+2) {
			margin-left: 2%;
		}
		& + &  {
			margin-top: 0;
		}
	}
	@include element(title) {
		display: block;
		padding: .6em;
		border: 4px solid $base_white_color;
		color: $base_corporate_color;
		font-weight: normal;
		@include fontsize(18);
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc-tb) {
			@include fontsize(24);
			line-height: 1.4;
		}
	}
	@include element(body) {
		.access-unit__title + & {
			margin-top: $base_padding*3;
		}
	}
}


// -------------------------------------------------------------------
// .block-location
// -------------------------------------------------------------------
.block-location {
	.btn-detail {
		margin-top: $base_padding*5;
		//	[media queries PC-tablet]
		// ----------------------------------------
		@include media(pc) {
			min-width: 280px;
		}
	}
}
