@charset "UTF-8";
// ===================================================================
//	File:	themes/_timeline.scss
//	Date:	2017-12-31(+09:00)
//	Note:	
// ===================================================================

.mainImage__bg {
	animation: fadeIn 2s;
}
.siteTitle__logo {
	animation: fadeIn 4s;
}
.mainImage {
	.mainImage__characters {
		animation: fadeInUp 2s;
	}
	.mainImage__logo {
		animation: fadeInDown 6s;
	}
	&:before, &:after {
		animation: fadeIn 4s;
	}
}


.mainImage {
	&:before, &:after {
		animation: glitter 3s infinite;
		animation-delay: 4s;
	}
	&:after {
		animation-delay: 2s;
	}
}