@charset "utf-8";
// ===================================================================
//  File:	layout/_header.scss
//  Date:	2017-04-30(UTC+9)
//  Note:	
// ===================================================================
// 	.skip-nav
// -------------------------------------------------
.skip-nav {
	overflow: hidden;
	height: 0;
	font-size: 0px;
	line-height: 0px;
}
