@charset "utf-8";
// ===================================================================
//  File:	components/_block-news.scss
//  Date:	2017-02-24(UTC+9)
//  Note:	
// ===================================================================
.block-news {
	&.block-home {	
		background: url(#{$image_path}bg_block-even.gif) 0 0 no-repeat;
		background-size: cover;
		padding: $base_padding*4 0;
	}
	.news-list {
		background: $base_white_color;
	}
	@include element(foot) {
		.news-list__container {
			padding: $base_padding*3 0 0;
		}
		.link-news {
			text-align: right;
			> a {
				color: $base_text2_color;
			}
			>a:after {
				content: '>';
				padding-left: 1em;
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				margin-right: 3.125%;
			}
		}
	}
}

.news-list {
	@include element(container) {
		width: 950px;
		margin: 0 auto;
		padding: $base_padding*6 0;
		text-align: left;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			width: 100%;
			padding: $base_padding*4 0;
		}
		.xNews.xCatIndex & .tab-body {
			padding: 0 1em 0 0;
			height: 400px;
			overflow-y: scroll;
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				height: 30vh;
			}
		}
	}
	@include element(item) {
		border-bottom: 1px dotted $base_border_color;
		> a {
			display: block;
			padding: 1rem 0;
			color: $base_text2_color;
			&:hover {
				opacity: .8;
			}
			//	[media queries SP]
			// ----------------------------------------
			@include media(sp) {
				padding: .5rem 3.125%;
			}
		}
		@include modifier(time) {
			display: inline-block;
			margin-right: 1em;
			font-weight: normal;
		}
		@include modifier(category) {
			display: inline-block;
			position: relative;
			line-height: 1;
			font-weight: normal;
			&:before {
				display: inline-block;
				content: '';
				width: 1rem;
				height: 1rem;
				margin: .1em 1rem 0 0;
				border-radius: 3px;
			}
			&.is-all:before {
				background-color: $news-all-color;
			}
			&.is-news:before {
				background-color: $news-news-color;
			}
			&.is-recruit:before {
				background-color: $news-recruit-color;
			}
			&.is-seminar:before {
				background-color: $news-seminar-color;
			}
		}
		@include modifier(body) {
			display: block;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.news-detail {
	@include element(container) {
		width: 950px;
		margin: 0 auto;
		text-align: left;
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			width: 100%;
		}
	}
	@include element(head) {
		margin-bottom: 2em;
	}
	@include element(title) {
		display: block;
		@include fontsize(24);
		//	[media queries SP]
		// ----------------------------------------
		@include media(sp) {
			@include fontsize(18);
		}
	}
	@include element(body) {
		
	}
	@include element(foot) {
		margin-top: 6em;
	}
}