@charset "utf-8";
// ===================================================================
//  File:	components/_block-contact.scss
//  Date:	2017-12-02(UTC+9)
//  Note:	
// ===================================================================
.block-contact {
	background: $bg_block_contact;
	padding-bottom: $base_padding*8;
	text-align: center;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		padding-bottom: $base_padding*12;
	}
	//	.block-contact__title
	// ----------------------------------------
	@include element(title) {
		font-family: $base_font_family_noto;
		font-weight: normal;
		@include fontsize(14);
		* + & {
			margin-top: 3em;
		}
		& + * {
			margin-top: 1em;
		}
	}
	//	.block-contact__body
	// ----------------------------------------
	@include element(body) {
		margin-top: 2em;
		font-family: $base_font_family_noto;
	}
	img {
		max-width: 100%;
		width: auto;
	}
	.is--tel {
		margin-top: $base_padding*3;
		color: $base_text_color;
	}
}
.btn-contact {
	@extend .btn-detail;
	margin-top: $base_padding*5;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc) {
		min-width: 280px;
	}
}
