@charset "utf-8";
// ===================================================================
//  File:	components/_breadcrumb.scss
//  Date:	2017-12-04(UTC+9)
//  Note:	
// ===================================================================
.breadcrumb {
	display: none;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: block;
		padding: 1em 0;
		@include fontsize(13);
		color: #999;
		@include element(home) {
			text-transform: uppercase;
		}
		.path {
			margin: 0 6px;
		}
		strong {
			font-weight: normal;
		}
		a {
			color: #999;
		}
	}
}