@charset "utf-8";
// ===================================================================
//  File:	layout/_btn.scss
//  Date:	2017-04-10(UTC+9)
//  Note:	
// ===================================================================
.btn-area {
	margin-top: 1em;
	text-align: center;
}

// 	詳しくはこちらボタン
// ----------------------------------------
.btn-detail {
	@include btn-next;
}

// 	戻るボタン
// ----------------------------------------
.btn-back {
	@include btn-back;
}


// 	2つボタンが並ぶ
// ----------------------------------------
.btns-block {
	margin: 0 auto;
	.btn + .btn {
		margin-top: 2em;
	}
}


// 	リンクテキスト
// ----------------------------------------
.link-arrow {
	@include link-arrow;
}
.link-target {
	@include link-arrow;
}