@charset "utf-8";
// ===================================================================
//  File:	components/_font.scss
//  Date:	2017-10-23(UTC+9)
//  Note:	
// ===================================================================
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSerifCJKjp/NotoSerifCJKjp-Regular.otf") format("opentype");
}
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSerifCJKjp/NotoSerifCJKjp-Bold.otf") format("opentype");
}