@charset "utf-8";
// ===================================================================
//  File:	components/_page-body.scss
//  Date:	2017-04-10(UTC+9)
//  Note:	
// ===================================================================
.page-body {
	background: url(#{$image_path}bg_block.gif) 0 0 no-repeat;
	background-size: cover;
	padding: 3.125% 0 0;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		padding: $base_padding*2 0 0;
	}
}
