@charset "utf-8";
// ===================================================================
//  File:	components/_tab.scss
//  Date:	2017-12-04(UTC+9)
//  Note:	
// ===================================================================
.tab-contents {
	position: relative;
	padding-top: 60px;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		padding-top: 0;
	}
}

// ----------------------------------------
//	.panel-radios
// ----------------------------------------
.panel-radios {
	position: absolute;
	left: 50%;
	top: 10px;
	width: 20px;
	opacity: 0.5;
	z-index: 99;
	&:nth-child(1) {
		transform: translateX(-50px);
	}
	&:nth-child(2) {
		transform: translateX(-30px);
	}
	&:nth-child(3) {
		transform: translateX(-10px);
	}
	&:nth-child(4) {
		transform: translateX(10px);
	}
	&:nth-child(5) {
		transform: translateX(30px);
	}
	&:nth-child(6) {
		transform: translateX(50px);
	}
	&:nth-child(7) {
		top: 30px;
		transform: translateX(0);
		display: block;
	}
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: none;
	}
}

// ----------------------------------------
//	.tabs-list
// ----------------------------------------
#tabs-list {
	position: relative;
	list-style: none;
	text-align: center;
	border-bottom: 1px solid $base_border_color;
	margin: 0;
	padding: 0;
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		#li-for-panel-1,
		#li-for-panel-2,
		#li-for-panel-3,
		#li-for-panel-4,
		#li-for-panel-5,
		#li-for-panel-6 {
			max-height: 0;
			overflow-y: hidden;
			transition: linear .3s;
		}
	}
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		text-align: center;
		border-bottom: 1px solid $base_border_color;
		display: table;
		width: 100%;
		li {
			box-sizing: border-box;
			display: table-cell;
			text-align: center;
			font-size: 0.875em;
			width: calc(100% / 6);
			border-top: 1px solid $base_border_color;
//			border-right: 1px solid $base_border_color;
			border-left: 1px solid $base_border_color;
			transition-property: border-top, background-color;
			transition-duration: .3s;
			&:hover {
				border-top: none;
			}
		}
	}
}


// ----------------------------------------
//	.panel-label
// ----------------------------------------
.panel-label {
	user-select: none;
	display: block;
	width: 100%;
	padding: 12px 0;
	cursor: pointer;
	background-color: #ecf0f1;
	border-top: 1px solid $base_border_color;
	border-bottom: 1px solid $base_border_color;
	transition-duration: .3s;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		padding: 24px 0;
		border: none;
		background-color: transparent;
		&:hover {
			background: $base_corporate_color;
			transform: translate(0, 1px);
			color: $base_white_color;
		}
	}
}

// ----------------------------------------
//	#panels
// ----------------------------------------
#panels {
	border: 1px solid $base_border_color;
	border-top: none;
	.panel-contents {
		box-sizing: border-box;
		max-height: 0;
		opacity: 0;
		transition: opacity .6s;
		overflow-y: hidden;
	}
}

#panel-1-ctrl:checked ~ #panels #panel-1 .panel-contents,
#panel-2-ctrl:checked ~ #panels #panel-2 .panel-contents,
#panel-3-ctrl:checked ~ #panels #panel-3 .panel-contents,
#panel-4-ctrl:checked ~ #panels #panel-4 .panel-contents,
#panel-5-ctrl:checked ~ #panels #panel-5 .panel-contents,
#panel-6-ctrl:checked ~ #panels #panel-6 .panel-contents {
	max-height: initial;
	max-height: 100%;
	opacity: 1;
	padding: 20px 10px;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		padding: 60px 24px;
	}
}

#nav-ctrl:checked ~ #tabs-list #li-for-panel-1,
#nav-ctrl:checked ~ #tabs-list #li-for-panel-2,
#nav-ctrl:checked ~ #tabs-list #li-for-panel-3,
#nav-ctrl:checked ~ #tabs-list #li-for-panel-4,
#nav-ctrl:checked ~ #tabs-list #li-for-panel-5,
#nav-ctrl:checked ~ #tabs-list #li-for-panel-6 {
	max-height: 46px;
	opacity: 1;
}

#open-nav-label {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: none;
	}
}

#close-nav-label {
	display: block;
	max-height: 0;
	overflow-y: hidden;
	background-color: #444444;
	color: #ecf0f1;
	padding: 0px;
	transition: max-height .3s;
	cursor: pointer;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 1px;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: none;
	}
}

#nav-ctrl {
	&:checked ~ #tabs-list #close-nav-label {
		max-height: 36px;
		padding: 12px 24px;
		opacity: 1;
	}
	&:checked ~ #tabs-list #open-nav-label {
		display: none;
	}
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		display: none;
	}
}

#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1,
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2,
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3,
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4,
#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5,
#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6 {
	max-height: 46px;
	opacity: 1;
	//	[media queries PC-tablet]
	// ----------------------------------------
	@include media(pc-tb) {
		pointer-events: none;
		cursor: default;
		transform: translate(0, 1px);
	}
}

#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 .panel-label,
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 .panel-label,
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 .panel-label,
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 .panel-label,
#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 .panel-label,
#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6 .panel-label {
	background-color: $base_corporate_color;
	color: $base_white_color;
}

//	[media queries PC-tablet]
// ----------------------------------------
@include media(pc-tb) {
	#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1:last-child,
	#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2:last-child,
	#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3:last-child,
	#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4:last-child,
	#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5:last-child,
	#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6:last-child {
		border-right: 1px solid $base_border_color;
	}
	
	#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li,
	#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li,
	#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li,
	#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 + li,
	#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 + li,
	#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6 + li {
		border-left: 1px solid $base_border_color;
	}
}