@charset "utf-8";
// ===================================================================
//  File:	components/_table.scss
//  Date:	2017-12-03(UTC+9)
//  Note:	
// ===================================================================
@include media(sp) {
	.unit--table {	// スマートフォン対策
		position: relative;
		padding-top: 36px;
		.has--menu & {
			display: none;
		}
		&:before {
			position: absolute;
			top: 0;
			left: $base_padding*2;
			margin-bottom: 1em;
			padding: 0.04em 0.8em;
			background: lighten($base_corporate_color,20%);
			border-radius: 4px;
			content: '表はスクロールすることができます';
			@include fontsize(12);
			color: $base_white_color;
		}
		&__in {
			overflow-x: scroll;
			&:-webkit-scrollbar {
				height: 5px;
			}
			&:-webkit-scrollbar-track {
				border-radius: 5px;
				background: #eee;
			}
			&:-webkit-scrollbar-thumb {
				border-radius: 5px;
				background: #666;
			}
		}
	}
}


// -------------------------------------------------
// 	.information-unit__table
// -------------------------------------------------
.information-unit__table {
	@include base_table;
	th, td {
		padding: .6em .4em;
	}
	td {
		text-align: right;
		white-space: nowrap;
	}
}


// -------------------------------------------------
// 	.table-outline
// -------------------------------------------------
.table-outline {
	@include base_table;
	th, td {
		border-top: 1px solid $base_border_color;
		border-bottom: 1px solid $base_border_color;
	}
	th {
		white-space: nowrap;
	}
	//	[media queries SP]
	// ----------------------------------------
	@include media(sp) {
		th {
			width: 100%;
			display: block;
			border: none;
			background: rgba($base_border_color, .6);
			font-weight: bold;
		}
		td {
			width: 100%;
			display: block;
			border: none;
		}
	}
}

